<mat-card class="example-card" *ngIf="pokemon">
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile [rowspan]="3">
        <div class="title-tile">
          <img mat-card-image src="assets/img/official-artwork/{{pokemon.id}}.png" alt="Photo of {{pokemon.name}}">
          <mat-card-title>#{{pokemon.id | number:'3.0' }}</mat-card-title>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="3">
        <div>
          <p>
            {{ pokemon.name }}
            <button (click)="cry.play()" mat-icon-button aria-label="Play pokemon cry">
              <mat-icon>play_circle_outline</mat-icon>
            </button>
            <audio #cry
                   autoplay
                   src="assets/audio/{{pokemon.id}}.mp3">
              Your browser does not support the
              <code>audio</code> element.
            </audio>

          </p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip *ngFor="let type of pokemon.types" color="primary" selected>{{type}}</mat-chip>
          </mat-chip-list>
          <p>
            Taille: {{ pokemon.height | number:'1.1' }}m
          </p>
          <p>
            Poids: {{ pokemon.weight | number:'1.1' }}kg
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="1" [colspan]="2">
        <p>
          {{pokemon.description}}
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
